.portal-home-container {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    text-align: center;
}

.widget-wrapper {
    max-width: 880px;
}
.widget-wrapper .ant-card-bordered {
    border: none;
}

.widget-wrapper a:hover {
    z-index: 999;
    box-shadow: 0 8px 8px 0 rgba(0,0,0,.14), 0 13px 11px -8px rgba(0,0,0,.2), 0 11px 15px 0 rgba(0,0,0,.12);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.colored div {
    background-color: #e7c62c;
    color: #fff;
}

.non-colored div {
    background-color: #f0f0f0;
    color: #000;

}

a.colored:hover, a.non-colored:hover {
    text-decoration: none !important;
}

.colored i {
    color: #fff !important;
}