.unauth-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    margin-top: 150px;
}

.unauth-section {
    padding: 20px;
}

.unauth-img {
    width: 30%;
}
    .unauth-img img {
        width: 100%;
        height: auto;
    }


.unauth-text {
    /*width: 70%;*/
}
    .unauth-text p {
        font-size: 200%;
    }