
.lateral-component {
    text-align: center;
    margin-top: 50px;
}

.lateral-section:first-child {
    border-right: 3px solid #ddd;
}

.lateral-section {
    padding: 20px;
}

.lateral-section h2 {
    border-bottom: 1px solid #ddd;
}

.item-selected {
    color: #e7c62c;
}

.lsp-selector:hover {
    cursor: pointer;
    color: #e7c62c;
}