header {
    position: fixed;
    background: #e7c62c;
    top:0;
    left: 0;
    right: 0;
}

.button-header {
    color: #fff !important;
    float: right;
    font-size: 34px !important;
    margin-right: 15px;
    margin-top : 5px;
}

.button-header:hover {
    background: #fff !important;
    color:#e7c62c !important;
    cursor: pointer;
}

.search-bar input {
    border-radius: 25px;
    outline: none;
}






.nav-menu {
    position: fixed;
    top: 60px;
    left: 0;
    bottom: 30px;
    width: 110px;
    border: 1px solid #e7c62c;
    border-top : none;
    padding: 10px 3px;
}

.nav-menu div a{


}



.nav-menu-button {
    display: block;
    background: none;
    font-size: 20px;
    color: #e7c62c;
    border: none;
}

.nav-menu .nav-menu-button {
    width: 95%;
    margin: 0 auto 5px auto;
    text-align: center;
    border-radius: 22px;
    border: 1px solid #e7c62c;
}

span.menu-title {
    padding-left: 2px;
    /*color: #ef7d24;*/
    font-size: 0.7em;
}

.nav-menu-button a {
    color: inherit;
}

.nav-menu-button a:hover {
    text-decoration: none;
}

.nav-menu-button:focus {
    outline:0;
}

.nav-menu-button:hover, .active-nav-link {
    background: #e7c62c;
    color: white;
    cursor: pointer;

}


.button-header.nav-menu-button {
    height: 50px;
    width: 50px;
    border-radius: 100%;
}


