body {
  font-family: "Colab", sans-serif !important;
  font-size : 1rem !important;
}

* {
  margin: 0;
  padding: 0;
}

p {
  margin-bottom: 0.5rem;
}

a {
  color: #000;
}

a:hover {
  text-decoration: none;
}


@font-face {
	font-family: "Colab";
	src: url('assets/fonts/ColabLig.otf');
}
@font-face {
	font-family: "Colab";
	font-weight: bold;
	src: url('assets/fonts/ColabBol.otf');
}

@font-face {
  font-family: "Cicle";
  src : url('assets/fonts/Cicle\ Semi.ttf')
}
@font-face {
  font-family: "Cicle";
  font-weight: 800;
  src:url('assets/fonts/Cicle\ Shadow.ttf');
}
@font-face {
  font-family: "Cicle";
  font-weight: bold;
  src:url("assets/fonts/Cicle\ Gordita.ttf");
}
@font-face {
  font-family: 'anticon';
  src: url('https://at.alicdn.com/t/font_148784_v4ggb6wrjmkotj4i.eot');
  /* IE9*/
  src: url('https://at.alicdn.com/t/font_148784_v4ggb6wrjmkotj4i.woff') format('woff'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('https://at.alicdn.com/t/font_148784_v4ggb6wrjmkotj4i.ttf') format('truetype'), /* iOS 4.1- */ url('https://at.alicdn.com/t/font_148784_v4ggb6wrjmkotj4i.svg#iconfont') format('svg');
}


.anticon {
  display: inline-block;
  font-style: normal;
  /*vertical-align: baseline;*/
  vertical-align: 0.120em !important;
  text-align: center;
  text-transform: none;
  line-height: 1;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.anticon:before {
  display: block;
  font-family: "anticon" !important;
}


.example-description {
  max-width: 500px;
  padding: 40px;
  margin: 80px auto 0;
  border: 2px dashed #e7c62c;
}

.example-span {
  display: block;
  color: #e7c62c;
}


.unsatisfied {
  text-align: center;
  margin-top: 50px;
  padding: 3em;
}


.back-button{
  border-radius: 50%;
  background: #e7c62c;
  height: 50px;
  width: 50px;
  border: 2px solid #f5f5f5;
  box-shadow: 0 0 3px gray;
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 25px;
  color: white;
}

.back-button:hover {
  cursor: pointer;
  background-color: #fff;
  color: #e7c62c;
}