.header-entry-point-title {
    color: #e7c62c;
}

.header-entry-point-separation-line {
    margin-top: 0px;
}

.header-plugin-module-h1 {
    color: #e7c62c;
    text-align: center;
    font-weight: 700;
}


.header-plugin-module+div {
    margin-top : 20px;
    margin-left : auto;
    margin-right: auto;
    margin-bottom: 40px;
}


.plugin-submenu-menicon {
    font-size: 8rem;
    color: #31374A;
    margin : 5px;
}

.plugin-submenu-menicon:hover {
    color: #e7c62c;
}

.plugin-submenu-icon-menu {
    margin-top : 150px !important;
    display: flex;
    justify-content: space-around;
}

.plugin-submenu-menu-title {
    font-size: 30px;
    position: relative;
    text-align: center;
    margin-top: 10px;
}

.plugin-submenu-title {
    color: #e7c62c;
    font-weight: bold;
}

.plugin-submenu-title:hover {
    text-decoration: none;
}


.plugin-submenu-lien:hover {
    text-decoration: none;
}

.plugin-submenu-lien {
    text-align: center;
}


@media all and (max-width: 1200px) {
    .plugin-submenu-menicon {
        font-size: 4rem;
    }
    h1.plugin-submenu-title {
        font-size: 24px;
    }
}

@media all and (max-width: 960px) {
    .plugin-submenu-menicon {
        font-size: 3rem;
    }
    h1.plugin-submenu-title {
        font-size: 18px;
    }
}